body{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#container div{
margin: 50px;
}
#star_container i{
    font-size: xx-large;
}

#value_container{
    font-size: xx-large;
}
.fa-solid {
    color: yellow;
}